/* $Id: civicrm.css,v 1.0 2005/03/18 dgg */

/*
** Size text input fields in crm-container by class. Classes are assigned by the
** module in relation to the data object max size.
*/

/*
** Tentative styling for classes of text input fields. Need to test. dgg
*/
#crm-container input.two {width: 2em;}
#crm-container input.four {width: 4em;}
#crm-container input.eight {width: 8em;}
#crm-container input.twelve {width: 12em;}
#crm-container input.medium {width: 12em;}
#crm-container input.big {width: 15em;}
#crm-container input.huge {width: 30em;}

/*
** Classes for form section show/hide links
*/
#crm-container .show-section {
  width: 25%;
  font-size: .95em;
  border: 1px solid #abc;
  background-color: #eee;
  padding: .5em;
  margin-bottom: 1em;
}

#crm-container .hide-section {
  width: 25%;
  font-size: .95em;
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}

/*
** CRM form field layout classes (from www.realworldstyle.com)
*/
div.spacer {
  clear: both;
  height: 5px;
  }

div.status {
  margin: 1em 0em 1em;
  background-color: #ffff99;
  padding: .9em;
  border: 1px solid #abc;
}

#crm-container div.form-item {
  clear: both;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Use this rule for Box-Grey or other themes with very large default label fonts... */
/*
#crm-container div.form-item {
  font-size: 0.90em;
}
*/

#crm-container div.form-item span.labels {
  float: left;
  width: 25%;
  text-align: left;
}

#crm-container div.form-item span.fields {
  float: right;
  width: 75%;
  text-align: left;
} 

#crm-container .data-group .col1 {
  float: left;
  width: 40%;
  text-align: left;
  margin: 5px 25px 5px 25px;
} 

#crm-container .data-group .col2 {
  float: right;
  width: 50%;
  text-align: left;
  margin: 5px 0px 5px 0px;
} 

/*
** Styles for formating of text
*/

/* Inline form field 'help' */
#crm-container .description {
  padding: 5px 0px 5px;
  font-size: 0.9em;
}

#crm-container .font-italic {
  font-style: italic
}

/* 
** Styles for record browser table and pager bar
*/
#crm-container table {
  width: 100%;
}

#crm-container tr {
  font-size: .95em;
}

#crm-container td {
  padding: 4px;
  vertical-align: top;
}

#crm-container .nowrap {
  white-space: nowrap;
}

#crm-container th {
  padding: 8px 4px 4px 4px;
  border-bottom: 1px solid #000;
}

#crm-container tr.columnheader {
  background-color: #CCCCCC;
  color: #000000;
  border: 1px solid #000000;
}


#crm-container tr.odd-row {
  border: 1px solid #000000;
  background-color: #FAFAF8;
}

#crm-container tr.even-row {
  border: 1px solid #000000;
  background-color: #EAEAEA;
}

#crm-container a.sort-ascending:before {
   content: url(sort-asc.png);
   margin-right: 5px;
   vertical-align: middle;
}

#crm-container a.sort-descending:before {
   content: url(sort-desc.png);
   margin-right: 5px;
   vertical-align: middle;
}

#crm-container a.sort-none:before {
   content: url(sort-none.png);
   margin-right: 5px;
   vertical-align: middle;
}

#crm-container .horizontal-position {
  margin-right: 30px;
  margin-left: 30px;
}

#crm-container .element-right {
  position: absolute;
  right: 35px;
}

div.crm-pager {
  border: thin solid #000000;
  background-color: #B0B0B0;
  color: #FFFFFF;
  position: relative;
  height: 25px;
  margin-left: -1px;
  padding-top: 5px;
}

div.crm-pager a {
  color: #FFFFFF;
}

.crm-pager-nav {
  height: 25px;
  padding-left: 100px;
}

/* 
** Styles for View pages
*/
#crm-container .data-group {
  margin: 5px;
  padding: 5px;
  border-bottom: 2px solid #B0B0B0;
}

#crm-container .float-right {
  float: right;
  margin-left: 8px;
  width: auto;
}

/*
**Styles for Advanced Search Page
*/
/* following classes used to generate three column structure using <div> and <span> */
#crm-container .three-col1 {
  float: left;
  width: 30%;
  margin-left: 5%;	  	 
} 

#crm-container .three-col2 {
  float: left;
  width: 30%;		
}

#crm-container .three-col3 {
  float: right;
  width: 35%;
}

/* following classes used to generate two column structure using <div> and <span> */

#crm-container .two-col1 {
  float: left;
  width: 49%;
  padding-left: 1%;
}

#crm-container .two-col2 {
  float: right;
  width: 50%;
}

/*
** style for showing three borders coloured
** and one border lightly coloured 
*/

#crm-container .top-light-coloured {
  border-bottom: 2.5px solid #4C4C4C;
  border-left: 2.5px solid #4C4C4C;
  border-right: 2.5px solid #4C4C4C; 
  border-top: 0.5px solid #B0B0B0;	
}

#crm-container .bottom-light-coloured {
  border-top: 2.5px solid #4C4C4C;
  border-left: 2.5px solid #4C4C4C;
  border-right: 2.5px solid #4C4C4C; 
  border-bottom: 0.5px solid #B0B0B0;
}
