/* $Id: civicrm.css,v 1.0 2005/03/18 dgg */

/*
** Size text input fields in crm-container by class. Classes are assigned by the
** module in relation to the data object max size.
*/

/*
** Tentative styling for classes of text input fields. Need to test. dgg
*/
#crm-container input.two {width: 2em;}
#crm-container input.four {width: 4em;}
#crm-container input.eight {width: 8em;}
#crm-container input.twelve {width: 12em;}
#crm-container input.medium {width: 20em;}
#crm-container input.big {width: 15em;} /*should be 30, but too big*/
#crm-container input.huge {width: 45em;}

/*
** Classes for form section show/hide links
*/
#crm-container .show-section {
  border: 1px solid #abc;
  background-color: #eee;
  padding: .5em;
  margin-bottom: 1em;
}

#crm-container .hide-section {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}

/*
** CRM form field layout classes (from www.realworldstyle.com)
*/
div.spacer {
  clear: both;
  height: 5px;
  }

#crm-container div.form-item {
  clear: both;
  padding-bottom: 5px;
}

/* Use this rule for Box-Grey or other themes with very large default label fonts... */
/*
#crm-container div.form-item {
  font-size: 0.90em;
}
*/

#crm-container div.form-item span.labels {
  float: left;
  width: 20%;
  text-align: left;
}

#crm-container div.form-item span.fields {
  float: right;
  width: 80%;
  text-align: left;
} 

#crm-container div.description {
  float: right;
  width: 80%;
  text-align: left;
  padding-bottom: 5px;
}

/* 
** [group description comment here]
*/
#crm-container tr.columnheader {
  background-color: #CCCCCC;
  color: #000000;
  border: thin solid #000000;
}

#crm-container tr.odd-row {
  border: thin solid #000000;
  background-color: #FAFAF8;
}

#crm-container tr.even-row {
  border: thin solid #000000;
  background-color: #EAEAEA;
}

#crm-container div.vertical-position {
  position: relative;
  top: 10px;
  width: 100%;
  height: 35px;
}

#crm-container span.horizontal-position {
  margin-right: 30px;
  margin-left: 50px;
}

#crm-container #pager-position {
  border: thin solid #000000;
  background-color: #B0B0B0;
  color: #FFFFFF;
  position: relative;
  height: 25px;
  margin-left: -1px;
  margin-bottom: -11px;
  padding-top: 5px;
}

#crm-container span.pager {
  position: absolute;
  height: 25px;
  padding-left: 150px;
}

#crm-container .element-right {
  position: absolute;
  right: 50px;
}

#crm-container .button-property {
  background-color: #EAEAEA;
}

#crm-container fieldset.fieldset-property {
  border: thin solid #000000;
  -moz-border-radius: 10px 10px 10px 10px;
}
