/* $Id: civicrm.css,v 1.0 2005/03/18 dgg */

/*
** Size input fields in crm-container by class. Classes are assigned by the
** module in relation to the data object max size.
*/
#crm-container .two {width: 2em;}
#crm-container .four {width: 4em;}
#crm-container .six {width: 6em;}
#crm-container .eight {width: 8em;}
#crm-container .twelve {width: 12em;}
#crm-container .medium {width: 12em;}
#crm-container .big {width: 15em;}
#crm-container .huge {width: 30em;}

/*
** class for hiding the text box; it is used in the OtherActivity template 
** for showing the descrition of activity type element.
*/
#crm-container .texttolabel, #crm-container .no-border {
 border-style: none;
}

/*
** Class for giving solid line at the bottom of the <div>(block level element)
** Currently it is used on the dashboard page of Contribution
*/
#crm-container div.solid-border-bottom {
 border-bottom: 2px solid #777
}

/*
** Size the verticle heights in crm-containers by class. 
*/
#crm-container .ht-one {
  height: 1em;
}

#crm-container .ht-two {
  height: 2em;
}

/*
** Classes for form section show/hide links
*/
#crm-container .show-section {
  width: 25%;
  font-size: .95em;
  border: 1px solid #abc;
  background-color: #eee;
  padding: .5em;
  margin-bottom: 1em;
}

#crm-container .hide-section {
  width: 25%;
  font-size: .95em;
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}

#crm-container .add-remove-link {
  font-size: .9em;
}

/*
** CRM form layout classes (from www.realworldstyle.com)
*/
div.spacer, .spacer {
  clear: both;
  height: 5px;
  }

#crm-container input.form-submit, #crm-container select {
  vertical-align: middle;
}

#crm-container fieldset {
 margin: 1em 0em .5em 0em;
}

#crm-container div.form-item {
  margin: 0px;
  padding: 3px 0px 3px 0px;
  clear: both;
}

/* Use this rule for Box-Grey or other themes with very large default label fonts... */
/*
#crm-container div.form-item {
  font-size: 0.90em;
}
*/

#crm-container div.form-item dl, #crm-container .data-group dl{
 margin: 0;
}

/* Use definition lists for simple 2 col forms - <dt> for labels, <dd> for fields */
#crm-container div.form-item dt {
  float: left;
  clear: left;
  width: 22%;
  text-align: right;
  vertical-align: top;
  font-weight: bold;
  /*white-space: nowrap;*/
  padding: 5px 15px 5px 0px;
}

#crm-container .data-group dt {
  float: left;
  clear: left;
  width: 22%;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
  padding: 5px 15px 5px 0px;
}

/*
 ** Many times one need to add long descriptions within <dd>.
 ** but limited padding-bottom for <dt> causes bottom lines
 ** in <dd> to move towards left. Hence giving classes
 ** for <dt> which handles such situations.
 */
#crm-container div.form-item dt.extra-long-hundred {
  padding-bottom: 100px;
}

#crm-container div.form-item dt.extra-long-eighty {
  padding-bottom: 80px;
}

#crm-container div.form-item dt.extra-long-sixty {
  padding-bottom: 60px;
}

#crm-container div.form-item dt.extra-long-fourty {
  padding-bottom: 40px;
}

#crm-container div.form-item dt.extra-long-twenty {
  padding-bottom: 20px;
}

#crm-container div.form-item dd, #crm-container .data-group dd {
  padding: 5px;
}

#crm-container div.form-item dd.html-adjust{
  float: left;
  width: 48%;
  /*clear: right;*/
}

#crm-container div.form-item dd.description {
 padding: 0px 0px 5px;
 white-space: normal;
}

#crm-container div.form-item span.labels {
  float: left;
  width: 25%;
  text-align: left;
}

#crm-container div.form-item span.fields {
  float: right;
  width: 75%;
  text-align: left;
} 

#crm-container table.form-layout, #crm-container table.control-panel, #crm-container table.no-border {
  margin: 0em;
  /* width: auto; */
  width: 98%;	
  border-collapse: collapse;
  border: none;
}

#crm-container table.form-layout-compressed {
  margin: 0em;
  width: auto;
  border-collapse: collapse;
  border: none;
}

#crm-container .form-layout td {
  padding: 3px;
  white-space: nowrap;
  border: none;
}

#crm-container .form-layout td.report {
  white-space: normal;
}

#crm-container .form-layout td, #crm-container .form-layout-compressed td {
  vertical-align: text-top;
}

#crm-container .control-panel td {
  padding: 3px;
  width: 25%;
  white-space: nowrap;
  border: none;
  text-align: center;
}

#crm-container .form-layout td.label, #crm-container .form-layout-compressed td.label, #crm-container .selector td.label {
  text-align: right;
  padding: 0em 0.50em 0em 0.75em;
}

#crm-container .form-layout-compressed td.describe-image {
    vertical-align: top;
    padding: 0.5em 0em 0em 0em;
    font-size: .9em
}

#crm-container .right {
  text-align: right;
}

#crm-container .bold {
  font-weight: bold;
}

#crm-container .form-layout-compressed td.option-label {
  vertical-align: top;
  text-align: right;
  padding: 0.75em 0.5em 0em 0.75em;
}

#crm-container div.status {
/*  margin: 1.0em; 0 1.0em;*/
  margin: 1.0em;
  background-color: #ffff99;
  padding: .25em .5em .25em .5em;
  border: 1px solid #abc;
}

#crm-container .footer {
  font-size: 0.8em;
}

#crm-container #civicrm-footer {
  margin-top: 2em;
  border-top: 1px solid #ddd;
  padding: 0.8em;
  text-align: center;
}

#crm-container #record-log {
  padding: 0.8em 0.8em 0em 0em;
  text-align: right;
}

#crm-container div.status ul {
  margin: 0;
}

#crm-container div.status dt {
  float: left;
  clear: left;
  width: 30px;
}

#crm-container .messages {
  margin: 1.0em 0em 1.0em;
}

#crm-container .action-link {
  margin: 0.5em 0em 0.5em;
}

#crm-container .header-dark {
  margin: 1.0em 0em 1.0em;
  padding: 0.75em;
  background-color: #B0B0B0;
  font-weight: bold;
  color: #FFFFFF;
}

#crm-container div.display-block {
  font-weight: normal;
  margin: 1.0em 2.0em 1.0em 2.0em;
}


/* Data display layouts */
#crm-container .col1 {
  float: left;
  vertical-align: top;
  width: 40%;
  text-align: left;
  margin: 0px 25px 0px 25px;
} 

#crm-container .col2 {
  float: right;
  vertical-align: top;
  width: 50%;
  text-align: left;
  margin: 0px;
} 

#crm-container ul.indented {
  padding-left: 3em;
}

/* For our menu block. Drupal displays an extraneous li bullet without this. */
.menu li.no-display {
  list-style-type: none;
}

/*
** Styles for formating of text
*/

/* Inline form field 'post-help' */
#crm-container .description {
  padding: 0px 0px 5px;
  font-size: 0.9em;
  white-space: normal;
}

/* Page and form-level 'help' */
#crm-container #help {
  margin: 1em 0em 1em;
}

/* Set display: inline to over-ride drupal.css which sets label tags to display:block */
#crm-container label {
  font-weight: bold;
  display: inline;
}

#crm-container .labels, .label {
  font-weight: bold;
}

#crm-container .font-light {
  font-weight: lighter;
}

.font-italic {
  font-style: italic
}

.font-size11pt {
  font-size: 1.1em;
}

.font-size12pt {
  font-size: 1.2em;
}

.status-pending {
  color: green;
}

.upper {
    text-transform: uppercase;
}

/* 
** Styles for record browser and report tables, and pager bar
*/
#crm-container table {
  margin: .5em 0em .5em;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000000;
}

#crm-container #map-field table, #crm-container table.report  {
    width: auto;
}

#crm-container tr {
  font-size: .95em;
}

#crm-container td {
  padding: 4px;
  vertical-align: top;
}

#crm-container .nowrap {
  white-space: nowrap;
}

#crm-container tr.columnheader {
  background-color: #CCCCCC;
  color: #000000;
  border: 1px solid #000000;
}
#crm-container tr.columnheader-dark {
  background-color: #B0B0B0;
  color: #FFFFFF;
  border: 1px solid #000000;
}
#crm-container th {
  padding: 8px 4px 4px 4px;
  border-bottom: 1px solid #000;
  text-align: left;
}
#crm-container tr.columnheader-dark td, #crm-container tr.columnheader td, #crm-container tr.columnfooter td {
  font-size: 1.1em;
  font-weight: bold;
}
#crm-container tr.columnfooter {
  border-top: 2px solid #000000;
  font-size: 1.1em;
}

#crm-container #map-field th {
    border-right: 1px solid #000;
}

#crm-container #map-field td, #crm-container .report td {
    padding: 10px 10px 4px 10px;
}

#crm-container .report td {
  border: 1px solid #ddd;
}

#crm-container .odd-row {
  background-color: #FAFAF8;
}

#crm-container .even-row {
  background-color: #EAEAEA;
}

#crm-container tr.even-row td, #crm-container tr.odd-row td {
  border-collapse: collapse;
  border-top: 1px solid #000000;
}

#crm-container .selected {
/*  border: 0.5px solid #000000; */
  margin: 0px;
  padding: 3px 0px 3px 0px;
  clear: both;
  background-color: #ffff99;
}

#crm-container .font-red, #crm-container .status-removed, #crm-container .disabled, #crm-container .status-overdue {
  color: #FF0105;
}

#crm-container a.sort-ascending:before {
   content: url(sort-asc.png);
   margin-right: 5px;
   vertical-align: middle;
}

#crm-container a.sort-descending:before {
   content: url(sort-desc.png);
   margin-right: 5px;
   vertical-align: middle;
}

#crm-container a.sort-none:before {
   content: url(sort-none.png);
   margin-right: 5px;
   vertical-align: middle;
}

#crm-container .horizontal-position {
  margin-right: 30px;
  margin-left: 30px;
}

#crm-container .horizontal-center {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

#crm-container .place-left {
  float: left;
  margin-left: 30px;
  margin-right: 30px;
}

#crm-container .float-right {
  float: right;
  width: auto;
  padding: 0px 5px 10px 0px;
  clear: both;
}

#crm-container .align-right {
    display: block;
    margin-right: 20px;
    text-align: right;
}

#crm-container .element-right {
  position: absolute;
  right: 35px;
}

#crm-container #search-status {
 padding: 0.25em;
 background-color: #ccc;
 font-size: .95em;
 font-weight: bold;
}

#crm-container #search-status ul, #crm-container ul.left-alignment, #crm-container td ul {
 margin: 0em 0em 0em -2.0em;
}

#crm-container #search-status ul li, #crm-container ul.left-alignment li{
 display: list-item;
 margin-left: 2.0em;
 list-style-position: inside;
}

div.crm-pager {
  border: thin solid #000000;
  background-color: #B0B0B0;
  color: #FFFFFF;
  position: relative;
  height: 25px;
  margin-left: -1px;
  padding-top: 5px;
}

div.crm-pager a {
  color: #FFFFFF;
}

.crm-pager-nav {
  height: 25px;
  padding-left: 100px;
}

/* 
** Styles for View pages
*/
#crm-container .data-group {
  margin: 5px;
  padding: 5px;
  border-bottom: 2px solid #B0B0B0;
}

#crm-container .data-group-first {
  margin: 10px 5px 5px 5px;
  padding: 5px;
  border-top: 2px solid #B0B0B0;
  clear: both;
}

/* Styles for Wizard Progress Bars */
#crm-container ul.wizard-bar {
  border-collapse: collapse;
  padding: 0em 0em 0em 1em;
  white-space: nowrap;
  list-style: none;
  margin: 10px 0px 20px;
  height: auto;
  width: auto;
  line-height: normal;
  border-top: 3px solid #bbb;
}
#crm-container ul.wizard-bar li {
  display: inline;
  background-color: #fff;
  border: 1px solid #bbb;
  height: auto;
  margin-right: 2em;
  padding: .5em 1em .5em;
  text-decoration: none;
}
#crm-container ul.wizard-bar li.current-step {
  background-color: #fff;
  border-color: #000;
  font-weight: bold;
}
#crm-container ul.wizard-bar li.past-step {
  background-color: #eee;
  color: #666;
}

/* Recently Viewed bar */
#crm-container div#recently-viewed {
  margin: 5px 0px 10px;
  font-weight: bold;
  font-size: .95em;
  color: #6e6e6e;
  background-color: #eee;
  border: 1px solid #6e6e6e;
  overflow: hidden;
}
#crm-container div#alpha-filter {
  margin: 10px 0px 5px;
  text-align: center;
  width: 100%;
}

#crm-container #recently-viewed ul, #crm-container #alpha-filter ul {
  border-collapse: collapse;
  padding: 0em;
  white-space: nowrap;
  list-style: none;
  margin: 3px;
  height: auto;
  width: auto;
}
#crm-container #recently-viewed li {
  display: inline;
  height: auto;
  margin: 0em;
  padding: 5px;
}

#crm-container #alpha-filter li {
  display: inline;
  background-color: #eee;
  border: 1px solid #6e6e6e;
  color: #aaa;
  font-size: .95em;
  font-weight: normal;
  height: auto;
  margin: 0px 1px 0px 1px;
  padding: 2px 5px 2px 5px;
}

#crm-container #alpha-filter li.active {
  background-color: #fff;
}

#crm-container #alpha-filter a {
  font-weight: normal;
  color: #000;
}

#crm-container #alpha-filter a.active {
  font-weight: bold;
  color: #000;
}

#crm-container #recently-viewed a {
  font-weight: normal;
  color: #6e6e6e;
  font-size: .95em
}

/*
** overflowing for elements (e.g. Advanced Search page)
*/
#crm-container .listing-box{
  margin: 0.25em 2.0em -0.5em 0em;
  width: auto;
  height: 6.75em;	
  overflow: auto;
  border: 1px solid #B0B0B0;
}

/* Image Styles */
#crm-container .action-icon {
 vertical-align: middle;
 height: 20px;
 width: 20px;
}

/*
** Style for hiding blocks or table rows
*/
#crm-container .hide-block, #crm-container .hide-row {
  display: none;
}

/*
** Styles for showing blocks and table rows
*/
#crm-container .show-block {
  display: block;
}

#crm-container .show-row {
  display: table-row;
}

#crm-container input.submit-link {
  color: #285286;
  background-color: transparent;
  /*text-decoration: underline;*/
  border: none;
  cursor: pointer;
  cursor: hand;
  margin: 0em -0.5em 0em -0.5em;
}

#crm-container .underline-effect {
  color: #285286;
}

#crm-container .underline-effect:hover {
  text-decoration: underline;
}

#crm-container .underline-effect:before {
  content: "\00BB";
}
