/* CiviCRM Print Media Stylesheet */

// Hide any buttons or other form items when printing
.form-item {
  display: none;
}

table.form-layout td, table.form-layout th {
  border: 1px solid grey;
  padding: 4px;
  margin: 0px;
}