#!/usr/bin/make -f
# debian/rules file for amavisd-new 20021116 and newer
# $Id: rules,v 1.23 2006/10/12 13:13:18 hmh Exp $
# GNU copyright 1997 to 1999 by Joey Hess.
# GNU copyright 2003 by Brian May and Henrique M. Holschuh

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=4
export DH_ALWAYS_EXCLUDE=CVS

# Main package
PACKAGE=amavisd-new
PKGDIR:=$(CURDIR)/debian/$(PACKAGE)
TMP:=$(CURDIR)/debian/tmp

# Should we ever need it for the helpers
DEBUGFLAGS=-g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	DEBUGFLAGS += -O0
else
	DEBUGFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif
CFLAGS +=$(DEBUGFLAGS)

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	cd helper-progs && ./configure \
		--prefix=/usr \
		--with-runtime-dir=/var/lib/amavis \
		--with-sockname=/var/lib/amavis/amavisd.sock \
		--with-user=amavis
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
	make -C helper-progs
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	rm -rf build
	-make -C helper-progs clean
	rm -rf helper-progs/autom4te.cache
	rm -f helper-progs/config.h helper-progs/Makefile
	rm -f helper-progs/config.log helper-progs/config.status

	# Debian housekeeping
	dh_clean
	debconf-updatepo || true

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	mkdir -p $(TMP)/usr/sbin
	install -m 755 amavisd $(TMP)/usr/sbin/amavisd-new
	install -m 755 amavisd-release amavisd-nanny amavisd-agent $(TMP)/usr/sbin
	install -m 755 p0f-analyzer.pl $(TMP)/usr/sbin/p0f-analyzer
	install -m 755 debian/amavisd-new-cronjob $(TMP)/usr/sbin/amavisd-new-cronjob

	mkdir -p $(TMP)/usr/share/amavis
	cp -r debian/conf $(TMP)/usr/share/amavis/conf.d

	mkdir -p $(TMP)/usr/share/perl5
	install -m 644 JpegTester.pm $(TMP)/usr/share/perl5/JpegTester.pm

	mkdir -p $(TMP)/etc/amavis
	cp -r debian/etc/* $(TMP)/etc/amavis
	find $(TMP)/etc/amavis -type f -exec chmod 644 {} \;
	find $(TMP)/etc/amavis -type d -exec chmod 755 {} \;

	mkdir -p $(TMP)/etc/ldap/schema
	install -m 644 LDAP.schema $(TMP)/etc/ldap/schema/amavis.schema

	mkdir -p $(TMP)/etc/logcheck/ignore.d.workstation
	mkdir -p $(TMP)/etc/logcheck/ignore.d.server
	install -m 644 debian/logcheck.ignore $(TMP)/etc/logcheck/ignore.d.workstation/amavisd-new
	install -m 644 debian/logcheck.ignore $(TMP)/etc/logcheck/ignore.d.server/amavisd-new

	# Install lintian and linda overrides, if any
	cd debian ; \
	for i in *.linda ; do \
	    [ -r "$$i" ] && { \
		mkdir -p "$${i%%.linda}/usr/share/linda/overrides" ;\
		install  -m 644 "$$i" "$${i%%.linda}/usr/share/linda/overrides/$${i%%.linda}" ;\
	    } ;\
	done ;\
	for i in *.lintian ; do \
	    [ -r "$$i" ] && { \
		mkdir -p "$${i%%.lintian}/usr/share/lintian/overrides" ;\
		install  -m 644 "$$i" "$${i%%.lintian}/usr/share/lintian/overrides/$${i%%.lintian}" ;\
	    } ;\
	done

	dh_movefiles

	make -C helper-progs install DESTDIR=$(CURDIR)/debian/amavisd-new-milter/usr/sbin


# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdebconf -i -n
	dh_installdocs -i
	dh_installexamples -i
	dh_installmenu -i
#	dh_installlogrotate
#	dh_installpam
#	dh_installmime
	dh_installinit -i --init-script=amavis -- defaults 19 21
	dh_installcron -i
	dh_installman -i
	dh_installinfo -i
	dh_installchangelogs -i -k RELEASE_NOTES
	dh_link -i
	dh_strip -i
	dh_compress -i
	dh_fixperms -i
#	dh_makeshlibs
	dh_installdeb -i
	dh_perl -i
	dh_shlibdeps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdebconf -a -n
#	dh_installdocs -a
#	dh_installexamples -a
	dh_installmenu -a
#	dh_installlogrotate
#	dh_installpam
#	dh_installmime
	dh_installinit -a -- defaults 19 21
	dh_installcron -a
	dh_installman -a
	dh_installinfo -a
#	dh_installchangelogs -a -k RELEASE_NOTES
	dh_link -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
#	dh_makeshlibs
	dh_installdeb -a
	dh_perl -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

#  Extracts upstream templates on top of the Debian ones for en_US
update-templates-from-upstream:
	( chmod +x debian/extract-upstream-en_US-templates.pl && \
	  cd debian/etc/en_US && \
	  ../../extract-upstream-en_US-templates.pl < ../../../amavisd )

.PHONY: update-templates-from-upstream
