<?xml version="1.0" encoding="iso-8859-1" ?>

<table>
  <base>CRM/Standalone/OpenID</base>
  <class>Settings</class>
  <name>civicrm_openid_settings</name>
  <comment>The OpenID settings store for standalone login.</comment>
  <add>2.0</add>
  <field>
      <name>id</name>
      <type>int unsigned</type>
      <required>true</required>
      <add>1.9.kabissa</add>
  </field>
  <primaryKey>
       <name>id</name>
       <autoincrement>true</autoincrement>
  </primaryKey>
  <field>
      <name>setting</name>
      <type>varchar</type>
      <length>128</length>
      <required>true</required>
      <add>1.9.kabissa</add>
  </field>
  <field>
       <name>value</name>
       <type>blob</type>
       <add>1.9.kabissa</add>
  </field>
  <index>
       <name>setting_index</name>
       <fieldName>setting</fieldName>
       <unique>true</unique>
       <add>1.9.kabissa</add>
  </index>
</table>
