/* Colors and borders */
body, #search {
  color: #000;
  background: #fff;
  }
a, a:link { color: #333; }
a:visited { color: #777; }
a:hover, a:focus { color: #03f; }
a:active { color: #606; }
#header a:visited { color: #333; }
#header a:hover { background: transparent; }
#site-slogan { color: #999; }
#primary { border-top: solid 1px #999; }
#primary a { color: #111; }
#primary a:hover { color: #03f; }
#secondary a { color: #333; }
#secondary a:hover { color: #03f; }
#primary a.active, #primary a.active:hover, #secondary a.active, #secondary a.active:hover { color: #ddd; }
.sidebar .block a, .sidebar .block { color: #777; }
.sidebar .block a:visited, .sidebar .block h2, .sidebar .block h3 { color: #999;}
.sidebar .block a:hover { color: #03f; }
.sidebar .block {
  background: #fff;
  border: solid 1px #999;
}
.block .more-link a { color: #333; }
.block .more-link a:hover { color: #03f; }
.breadcrumb, .main-content .content-title, .links a.read-more { color: #111; }
.links a.read-more:hover { color: #03f; }
.main-content .node .content a, .comment .content a, .book .body a { border-bottom: 1px solid; }
.main-content .node .info { color: #999; }
img { border: 0; }
blockquote { border: 1px 0px #ddd solid; }
#mission {
  color: #000;
  background: #eee;
  border: solid 1px #999;
}
.box { border: 1px solid #eee; }
.box h2 { color: #999; }
.comment {
  border-top: solid 1px #eee;
  border-left: solid 1px #eee;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ddd;
}
.comment-new .new { color: #4d0; }
.comment .author, .comment .links { color: #333; }
.comment .title, .comment .title a.active {
  color: #444;
  background: #fff;
}
#footer {
  color: #666;
  background: #fff;
  border-top: solid 1px #777;
}
form .form-item .title  {
  border: 0;
  border-bottom: #ddd solid 1px;
  color: #777;
  background: transparent;
  }
.form-radio, .form-checkbox {
  background: transparent;
  border: 0;
}
select, textarea {
  background: transparent;
  color: inherit;
  border: 1px solid #777;
}
select {
  background: #eee;
  color: #000;
}
input:focus, textarea:focus {
  background: transparent;
  border: 1px solid #03f;
}
input.form-text { border: solid 1px #777; }
button.form-submit { border: solid 1px #ddd; }
.marker, .error { color: #f00; }
.ok { color: #080; }
.path a, .path a:visited { color: #777; }
#message {
  background: #fff;
  border: 2px solid #6e2;
}
fieldset { border: 1px solid #999; }
.tabs li .active, .tabs li .active:hover  {
  color: #000;
  background: #fff;
}
legend { font-weight: bold; color: #777; }
.form-item label { font-size: .9em; padding: 0 10px 0 0 }
pre {
  background: #ddd;
  border: 1px solid #aaa;
}
div.picture { border: 0; }
.calendar td, .calendar th { border-color: #eee; }
.calendar .day-normal { background: #fff; }
.calendar .day-future { background: #fff; }
.calendar .day-today { background: #333; color: #fff; }
.calendar .day-today a { color: #fff; }
.calendar .day-selected { background: #555; color: #fff; }
.calendar .day-link { background: #ddd; color: #fff; }
/* END of colours and borders */

body {
  font-family: Verdana, Helvetica, Arial, Lucida, sans-serif;
  font-size: 84%;
  padding: 0;
  margin: 0;
}
h1{ font-size: 1.3em; }
h2{ font-size: 1.1em; }
h3{ font-size: 1em; font-weight: bold;}
h4, h5, h6 { font-size: 0.9em; font-weight: bold;}
h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, Lucida, Verdana, sans-serif;
}
p, .book .body {
  padding: 0 0 0.5em 0;
  margin: 0;
  text-indent: 1.6em;
  font-size: 1em;
  line-height: 1.6em;
}
pre {
  padding: 0.75em 1.5em;
  font-size: 12px;
}
a { text-decoration: none; }
form {
  padding: 0;
  margin: 0;
}
blockquote {
  margin: 0.5em 1em;
  padding: 0.3em;
  font-style: italic;
}
code {
  font-size: 1em;
  font-family: Profont, 'lucida console', 'Courier New', Monaco, monospace;
}
#header {
  position: relative;
  padding: 1em 0 0 0;
  margin: 0;
}
#header img { 
  margin: 0 0.75em 0 1em;
  float: left;
}
#site-name {
  font-size: 2em;
  padding: 25px 0 0.2em 0;
  margin: 0;
}
#site-slogan {
  font-family: Helvetica, Arial, Lucida, Verdana, sans-serif;
  display: inline;
  font-weight: bold;
  font-size : 1.2em;
  padding: 0 0 0 1.2em;
  margin: 0;
}
#content {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
td.main-content {
  vertical-align: top;
  padding: 0em 1em;
}
td.form-item {
  vertical-align: top;
}
label.form-item {
  white-space: nowrap;
}
td.sidebar {
  vertical-align: top;
  padding: 0;
  width: 200px;
}
.sidebar .block {
  margin: 0 5px 5px 5px;
  padding: 0 5px 5px 5px;
}
.sidebar .block h2 {
  /*color: #FFFFFF;*/ 
  padding: 3px 0 0 0;
  margin: 0;
  font-size: 1em;
}
.sidebar .block h3 {
  margin: 0 0 0.3em 0;
}
.sidebar .block .xml-icon {
  text-align: center;
}
.sidebar .block-search input.form-text {
  width: 100px;
  padding: 1px;
  margin-right: 5px;
}
.sidebar .block-search button.form-submit { 
  width: 60px;
  font-size: 12px;
}
.more-link {
  float: none;
  text-align: right;
  font-style: italic;
}
.item-list {
  margin: 0.25em 0 0 0;
  font-size: 0.9em;
}
.item-list ul {
  list-style: none;
  margin: 0 0 0.5em 0;
  padding: 0;
}
.item-list ul li {
  margin: 0 0 0.25em 0;
  padding: 0 0 0 1em;
  line-height: 1.3em;
  list-style: none;
}
#search {
  margin: 0;
  padding: 0;
  float: right;
  width: 200px;
}
#search .form-text {
  margin-right: 3px;
  padding: 3px;
}
#search .form-submit {
  padding: 2px;
}
#top-nav {
  padding: 0;
  margin: 0 0 1.5em 0;
  font-family: Helvetica, Arial, Lucida, Verdana, sans-serif;
}
#top-nav ul {
  margin: 0;
  padding: 2px 0 2px 0;
}
#primary {
  font-size: 1.2em;
}
#secondary {
  text-align: right;
  font-size: 1.1em;
}
#primary li {
  margin-left: 2px; 
  padding: 0;
  display: inline;
  list-style-type: none;
}
#secondary li {
  margin-right: 5px; 
  padding: 0;
  display: inline;
  list-style-type: none;
}
#primary a {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
  padding: 0 3px;
}
#secondary a {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.breadcrumb {
  border-top: 1px dashed #aaa;
  border-bottom: 1px dashed #aaa;
  padding: .5em 1em .5em 0em;
  margin-bottom: 1em;
  font-size: .8em;
  font-weight: bold;
  height: 1em;
}
.main-content .node .content, .comment .content, .book .body {
  line-height: 1.5em;
}
.main-content .node, .book {
  margin: 0 1em 2em 1em;
}
.main-content .content-title {
  font-size: 1.3em;
  margin: .5em 0 .25em 0;
}
.main-content .node h2, .main-content h2 {
  padding: 0;
  margin: 0 0 0.25em 0;
  font-size: 1.8em;
}
.main-content .node .info {
  padding: 0 0 0.2em 0;
  margin: 0;
  font-size: 0.9em;
}
.main-content .node .info .terms {
	padding: 0;
	margin-left: 2em;
}
.main-content .node .links {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
}
.links a.read-more {
  font-style: italic;
  font-size: 1.2em;
}
.main-content .node .content {
  padding: 0;
  margin: 0;
}
.main-content .node .info, .main-content .node .links, #mission {
  font-family: Helvetica, Arial, Lucida, Verdana, sans-serif;
}
#mission {
  padding: 5px 10px;
  margin: 0 0 1.6em 0;
  font-size: 1.1em;
  text-indent: 0;
  width: auto;
}
.main-content .box {
  border: 1px solid #eee;
  margin-bottom: 0.5em;
}  
.main-content .box .content {
  padding: 0.5em;
}
.main-content .box h2 {
  padding: 0.5em;
  margin: 0;
  font-size: 1.2em;
  text-align: left;
}
.comment {
  padding: 1em;
  margin: 1.5em 0;
}
.comment-folded {
  padding: 0.5em;
  margin: 1.5em 0;
}
.comment-new .new {
  text-align: right;
  font-size: 1.1em;
  display: block;
  padding-bottom: 0.5em;
  width: 100%;
}
.comment .content, .comment .content p {
  padding: 0;
  margin: 0;
  line-height: 1.6em;
  text-indent: 0;
}
.comment .title, .comment .author, .comment .links {
  font-family: Helvetica, Arial, Lucida, Verdana, sans-serif;
}
.comment .title {
  font-weight: bold;
  font-size: 1.1em;
  padding: 0;
  margin-bottom: 0.5em;
}
.comment .author {
  font-size: 0.9em;
  padding: 0.1em 0 0.3em 0.75em;
}
.comment .links {
  padding: 0.75em 0 0 0;
  margin: 0;
}
#footer {
  padding: 1em 1em 1em 1em;
  font-size: 0.9em;
  text-align: center;
}
#footer p {
  text-indent: 0;
  margin-bottom: 1em;
}
.xml-icon {
  text-align: center;
}
.main-content .form-submit {
  margin: 0.5em 0 0.5em 0.5em;
}
.main-content .form-item {
  margin: 3px 0;
  padding: 0.3em 0;
}
.main-content .box .content .form-item textarea {
  width: auto;
}
input.form-text {
  margin: 0;
  padding: 0 5px;
  font-size: 12px;
}
button.form-submit {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
h3.form-title {
  text-align: left;
}
form .form-item .title  {
  margin-bottom: 0.5em;
  padding: 0.3em 0;
  text-align: left;
}
/* select {
  margin: 1px 5px;
}*/
.container-inline {
  margin: 0 0 1.6em 0;
}
.container-inline div {
  display: inline;
}
#pager {
  text-align: center;
}
#pager div {
  padding: 0.5em;
}
.main-content li {
  padding-bottom: 0.25em;
}
#message {
  padding: 2em;
  margin: 1em 2em;
}
li.leaf {
  list-style-type: square;
}
div.picture { 
  float: left;
  margin: 0 1em 0.3em 0;
}
br.clear {
  clear: both;
}

/******************************************************************************************************************/
/* CRM-specific styles */
/******************************************************************************************************************/
#crm-quick-search, #crm-quick-create, #crm-shortcuts {
    background-color: #eee;
    }    
    
.rmsPageTitle {
    width: 100%;
    border-bottom: 1px solid #aaaaaa;
    }
    
.rmsMenuTitle {
    border: 1px solid #000;
    padding: 2px;
    margin: 0 0 5px 0;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    background-color: #888;
    width: 100%
}

.rmsListNav {
    border: 1px solid #000;
    padding: 2px;
    background-color: #888;
    font-size: 10px;
    font-weight: bold;
    width: 100%;
}
.rmsListNav span {
    color: #fff;
    font-weight: bold;
    padding-right: 5px;
}

.rmsListNav a, .listNav a:visited, .listNav a:active {
    color: #fff;
}

.rmsFrame td {
    vertical-align: top;
    padding: 20px;
//    background-color: #eee;
}

.rmsWizardMenu div {
    border: 1px solid #000;
    padding: 5px;
    background-color: #fff;
    width: 95%;
}

.rmsListContacts {
    border: 1px solid #777;
    width: 100%;
}

.rmsListContacts th {
    font-size: 11px;
    color: #666666;
    font-weight: bold;
    text-align: left;
//    background-image: url(images/listContactsBg.png);
    background-color: #ddd;
    padding: 5px;
//    padding-left: 5px;
//    padding-right: 5px;
    border-bottom: 1px solid #980000;
}

.rmsListContacts tr.even {
    background-color: #eee;
}

.rmsListContacts tr.odd {
    background-color: #fff;
}

.rmsListContacts td {
    font-size: 11px;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    whitespace: nowrap
}

#crm-select-list {
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}

#crm-list-action {
    padding: 5px;
    width: 100%;
}

.rmsSubLink {
    padding: 5px 0 0 0;
    font-size: 11px;
}

div.title_menu {
  font-weight: bold;
  font-size: 18px;
  font-family: Arial,Helvetica, Lucida, Verdana, sans-serif;
  color: #000000;
}

hr {
border: 0;
color: #c0c0c0;
background-color: #043;
height: 1px;
width: 100%;
text-align: left;
}

INPUT, SELECT, TEXTAREA
{
	font-size : x-small;
	BORDER-BOTTOM-COLOR: #111111;
	BORDER-BOTTOM-WIDTH: 1px;
	BORDER-LEFT-COLOR: #111111;
	BORDER-LEFT-WIDTH: 1px;
	BORDER-RIGHT-COLOR: #111111;
	BORDER-RIGHT-WIDTH: 1px;
	BORDER-TOP-COLOR: #111111;
	BORDER-TOP-WIDTH: 1px;
	COLOR: #111111;
	FONT-FAMILY: Arial;
	FONT-SIZE: 9pt;
}

.crm_blocktitle { 
  color: #FFFFFF;  
  background-color: #89898F;
  display: block;
  }

.contact_listtable {
  background-color:#C5C5C5;
  color: #000000; 	
}
