.summary table {
	font-family: trebuchet MS, trebuchet, verdana, arial, sans-serif;
	font-size: 11px;
	border-collapse: collapse;
	padding: 0px;
	width: 100%;
	}

.summary table tr.even {
	background-color: #FFF;
	}

.summary table tr.odd {
	background-color: #EAF2FF;
	}

.summary table td {
	padding: 5px;
	vertical-align: top;
	}

.note-box {
	width: 230px;
	}

.note-box h4 {
	font-size: 16px;
	}

.note-box h5 {
	font-size: 12px;
	font-weight: bold;
	}

.note-box li {
	font-size: 12px;
	margin-bottom: 10px;
	}
