.required {
	color: #900;
	}

.label {
	float: left;
	width: 80px;
	text-align: right;
	padding-top: 2px;
	padding-right: 10px;
	font-size: 11px;
	}

.box h3 {
	margin-bottom: 10px;
	}

.box h4 {
	margin-bottom: 0px;
	}

.field textarea {
	width: 310px;
	}

.leftcol {
	width: 320px;
	padding-bottom: 10px;
	}

.rightcol {
	float: right;
	width: 320px;
	margin-left: 20px;
	}
