#current-dir {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 11px;
	}

#current-dir h3 {
	display: inline;
	padding-right: 10px;
	}

#upload-box {
	margin-left: 20px;
	float: right;
	width: 330px;
	}

#summary-box {
	border: 1px solid #CCC;
	}

.summary {
	padding: 10px;
	}

.summary table {
	font-size: 13px;
	border-collapse: collapse;
	padding: 0px;
	width: 100%;
	}

.summary table tr.even {
	background-color: #FFF;
	}

.summary table tr.odd {
	background-color: #EAF2FF;
	}

.summary table td {
	padding: 5px;
	vertical-align: top;
	}
