body { 
	background:#fff; 
	margin: 0px 0px 10px 0px;
	padding: 0; 
	font-family: "Trebuchet MS", Trebuchet, verdana, arial, sans-serif; 
	font-size: 12px; 
	color: #333; 
	}

.listsmall {
	font-size: 11px;
	}
	
.medpoint {
	font-size: 12px;
	}

a:link, a:visited, a:active {
	color: #336699;
	text-decoration: underline;
	}

a.delete:link, a.delete:visited, a.delete:active {
	color: #C00;
	}

p { 
	color: #333;
	font-family: "Trebuchet MS", Trebuchet, verdana, arial, sans-serif;
	font-size: 11px;
	line-height: 14px;
	}

.padded-box {
	border: 1px solid #696;
	padding: 10px;
	margin-top: 50px;
	margin-left: 50px;
	text-align:center;
	}

#copyright {
	background:#FFF;
	font-family:verdana, arial, sans-serif;
	font-size:10px;
	color:#666;
	border-top:1px dotted #CCC;
	border-bottom:1px dotted #CCC;	
	margin-top:50px;
	padding-left:30px;
	}

input.text-short {
	width: 175px;  
	height: 20px;
	}
	
input.button {
	width: 100px;
	font-family: verdana, arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#666;
	text-transform:uppercase;
	}

input.button-big {
	width: 150px;
	font-family: verdana, arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#666;
	text-transform:uppercase;
	} 

input.button-small {
	width: 50px;
	font-family: verdana, arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#666;
	text-transform:uppercase;	
	}

select {
	font-size: 11px;
	}

select.menu-short {
	width: 175px;
	}

.field {
	padding-bottom: 15px;
}

.instructions {
	float: left;
	width: 300px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: left;
	}

.body-popup {
	margin: 20px;
	}

hr {
	border: 0px;
	height: 1px;
	background-color: #C3CFDB;
	color: #C3CFDB;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	}

.list {
	padding-bottom: 10px;
	}

.list table {
	font-family: "Trebuchet MS", Trebuchet, verdana, arial, sans-serif;
	font-size: 11px; 
	padding: 0px;
	border-collapse: collapse;
	width: 100%;
}

.list table th {
	background-color: #FFF;
	color: #000;
	vertical-align: top;
	text-align: left;
	font-weight: normal;
	padding: 5px;
	border-bottom: 1px solid #000;
	}

.list table tr.even {
	background-color: #EEEEEE;
	}

.list table tr.odd {
	background-color: #FFFFFF;
	}

.list table td {
	padding: 5px;
	vertical-align: top;
	}

.list2 {
	padding-bottom: 10px;
	}

.list2 a:link, .list2 a:visited, .list2 a:active {
	color: #369;
	}

.list2 table {
	font-family: "Trebuchet MS", Trebuchet, verdana, arial, sans-serif;
	font-size: 11px; 
	padding: 0px;
	border-collapse: collapse;
	width: 100%;
}

.list2 table th {
	background-color: #FFF;
	color: #000;
	vertical-align: top;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	padding: 2px;
	border-bottom: 5px solid #A0BDEB;
	}

.list2 table th.centered {
	text-align: center;
	}

.list2 table tr.even {
	background-color: #FFFFFF;
	}

.list2 table tr.odd {
	background-color: #EAF2FF;
	}

.list2 table td {
	padding: 5px;
	vertical-align: top;
	border-bottom: 1px solid #A0BDEB;
	}

.list2 table td.last {
	border-bottom-width: 0px;
	}

.body {
	margin-left: 0px;
	padding: 15px;
	background-color: #FFF;
	voice-family: "\"}\""; 
	voice-family:inherit;
	}
html>body .body {
	width: 690px;
}

#gray-background .body {
	border: 1px solid #666;
	}

.breadcrumbs {
	margin: 0px;
	padding: 5px 0px 3px 30px;
	font-family: Arial, Verdana, sans-serif; 
	font-size: 10px; 
	color: #777; 
	line-height: 15px;
	font-weight: normal;
	border-bottom: 1px dotted #CCC;
	}

.breadcrumbs a:link, .breadcrumbs a:visited, .breadcrumbs a:active {
	font-weight: normal;
	color: #777;
	}

.body h2, h3 {
	margin-top: 0px;
	}

#container2 {
	width: 742px;
	height: 20px;
	position: relative;
	}

#tabs {
	position: relative;
	height: 21px;
	margin: 0px;
	padding: 0px 0px 0px 10px;
	left: 0px;
	bottom: -1px;
	}
html>body #tabs { bottom: 0px }

#tabs .tab {
	height: 14px;
	float: left;
	background-color: #EAF2FF;
	border: 1px solid #666;
	padding: 4px 5px 2px 5px;
	margin: 0px 2px 0px 2px;
	}

#tabs a {
	font-family: Arial, sans-serif;
	font-size: 11px;
	padding: 0px 20px 0px 20px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	}

#tabs a:hover {
	text-decoration: underline;
	}
	
#tabs #tab-here {
	border-bottom-color: #FFF;
	background-color: #FFF;
	}

#view-site-container {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 20px;
	width: 100px;
	margin: 5px;
	}
html>body #view-site-container { bottom: 0px }

#view-site {
	padding: 3px 8px 3px 8px;
	text-align: center;
	background-color: #A0BDEB;
	}

#view-site a:link, #view-site a:visited, #view-site a:active {
	color: #FFF;
	text-transform: uppercase;
	font-size: 10px;
	text-decoration: underline;
	font-weight: bold;
	}

#topbar {
	background-color: #9C6;
	height: 10px;
	border-bottom: 1px solid #FFF;
	}

#topnav {
	background-color: #FFF;
	padding: 0px 0px 0px 30px;
	margin: 0px;
	border-bottom: 1px dotted #CCC;
	}

#topnav-popup {
	background-color: #FFF;
	padding: 0px 0px 0px 20px;
	margin: 0px;
	border-bottom: 1px dotted #CCC;
	}

#topnav-img {
	position: relative;
	top: 10px;
	left: 0px;
	}

#topnav-img h1 {
	margin: 0px;
	padding: 0px;
	}

#container {
	position: relative;
	height: 55px;
	width: 713px;
	}

#gray-background {
	background-color: #ffffff;
	border-bottom: 1px solid #666;
	padding-bottom: 20px;
	}

#user-info {
	position: absolute;
	right: 0px;
	top: 15px;
	border: 1px solid #A0BDEB;
	font-size: 10px;
	padding: 2px 5px 2px 2px;
	color: #69C;
	}

.free-trial {
	background-color: #69C;
	color: #FFF;
	padding: 1px 2px 1px 2px;
	text-transform: uppercase;
	font-family: verdana, sans-serif;
	font-size: 9px;
	}

#toptabsdiv {
	border-bottom: 1px solid #666;
	}

#toptabs-container {
	height: 35px;
	width: 742px;
	position: relative;
	}

#toptabs {
	position: absolute;
	width: 720px;
	height: 21px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	right: 0px;
	bottom: -2px;
	}
html>body #toptabs { bottom: 0px }

#toptabs .tab {
	height: 16px;
	float: right;
	background-color: #DAEBB0;
	border: 1px solid #666;
	padding: 2px 5px 2px 5px;
	margin: 0px 2px 0px 2px;
	}

#toptabs a {
	font-family: arial, verdana, sans-serif;
	font-size: 12px;
	padding: 0px 5px 0px 5px;
	font-weight: bold;
	color: #5F843A;
	text-decoration: none;
	}

#toptabs a:hover {
	text-decoration: underline;
	}
	
#toptabs #toptab-here {
	border-bottom-color: #F8FCF2;
	background-color: #F8FCF2;
	}

#toptabs #toptab-here a {
	color: #666;
	}

textarea {
	font-family: verdana, arial, sans-serif;
	color: #333;
	background-color: #FFF;
	font-size: 11px;
	}

.header {
	font-size: 12px;
	color: #666;
	font-weight: bold;
	}

.note-box {
	background-color: #F5F7F1;
	border: 1px solid #C3CFDB;
	width: 198px;
	padding: 10px;
	}

.note-box h4 {
	color: #996;
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 4px;
	}

.note-box h5 {
	font-weight: bold;
	font-size: 11px;
	margin-bottom: 0px;
	margin-top: 10px;
	}

.note-box p {
	font-size: 11px;
	line-height: 13px;
	margin-top: 2px;
	color: #333;
	}

.note-box ol {
	padding: 0px 5px 0px 20px;
	}

.note-box ul {
	padding: 0px 5px 0px 20px;
	margin-left: 0px;
	}

.note-box li {
	font-size: 11px;
	color: #333;
	margin-bottom: 5px;
	}

.note-box li a:link, .note-box li a:active, .note-box li a:visited {
	font-weight: normal;
	}

.note-box blockquote {
	font-weight: bold;
	margin: 10px;
	}

.action-box {
	background-color: #F5F7F1;
	border: 1px solid #9C6;
	padding: 10px;
	}

.action-box a:link, .action-box a:visited,
.action-box a:active, .action-box a:hover {
	color: #999;
	}

.action-box hr {
	background-color: #9C6;
	color: #9C6;
	}

.action-box h4 {
	color: #333;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 15px;
	}

.action-box h5 {
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 0px;
	margin-top: 10px;
	}

.action-box p {
	font-family: "Trebuchet MS", Trebuchet, verdana, arial, sans-serif;
	font-size:11px;
	line-height: 12px;
	margin-top: 2px;
	color: #666;
	}

.action-box ol {
	padding: 0px 5px 0px 20px;
	}

.action-box ul {
	padding: 0px 5px 0px 20px;
	}

.action-box li {
	font-size: 10px;
	color: #333;
	margin-bottom: 5px;
	}
h4 {
	font-size: 13px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	}

.tip {
	font-size: 10px;
	color: #333;
	font-family: verdana, arial, sans-serif;
	}

.message {
	font-family: "Trebuchet MS", Trebuchet, verdana, arial, sans-serif;
	font-size: 11px; 
	color: #006600;
	line-height: 13px;
	border: 1px solid #C3CFDB;
	padding: 10px;
	font-weight: normal;
	background-color: #EEE;
	margin-bottom: 20px;
	}

.message form {
	margin: 0px;
	}

p.error {
	color: #CC0000;
	font-weight: bold;
	}

.error {
	color: #CC0000;
	font-weight: bold;
	}

.error-message {
	font-family: "Trebuchet MS", Trebuchet, verdana, arial, sans-serif;
	font-size: 11px; 
	color: #993333; 
	line-height: 13px;
	border: 1px solid #C3CFDB;
	padding: 10px;
	font-weight: normal;
	background-color: #EEE;
	margin-bottom: 20px;
	}
		
.message-warning {
	border: 1px solid #C3CFDB;
	padding: 20px;
	background-color: #EEE;
	margin-bottom: 20px;
	}

.message-warning p {
	font-family: "Trebuchet MS", Trebuchet, verdana, arial, sans-serif;
	font-size: 11px; 
	color: #FF0000;
	line-height: 13px;
	font-weight: normal;
	}

.message-warning blockquote {
	font-family: "Trebuchet MS", Trebuchet, verdana, arial, sans-serif;
	font-size: 11px; 
	color: #FF0000;
	font-weight: bold;
	margin: 10px;
	}

input {
	font-family:verdana, arial, sans-serif;
	font-size: 11px;
	color: #333;
	}

input.box {
	margin: 3px 0px 3px 0px;
	padding: 2px 2px 1px 2px;
	}

h1 {
	font-size: 18px;
	color: #000;
	margin-bottom: 20px;
	font-weight: normal;
	}

h1 a:link, h1 a:visited, h1 a:active {
	text-decoration: underline;
	color: #000;
	}

h2 {
	color: #CC6600;
	font-size: 18px;
	border-bottom: 1px solid #CC6600;
	margin-bottom: 15px;
	font-weight: bold;
	}

h3 {
	color: #000;
	font-size: 15px;
	margin-bottom: 10px;
	}

.big-number {
	background-color: #6699CC;
	color: #FFF;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	float: left;
	}

.big-number-indent {
	margin-left: 30px;
	}

.indent-left {
	background-color: #9C6;
	color: #FFF;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	float: left;
	}

.indent-right {
	margin-left: 30px;
	}

.indent-right h3 {
	color: #9C6;
	}

#subnav {
	padding: 0px;
	margin-bottom: 15px;
	}

#subnav form {
	margin: 0px;
	}

#subnav ul {
	margin: 0px;
	padding: 0px;
	}

#subnav li {
	display: inline;
	list-style: none;
	float: left;
	border-right: 1px solid #999;
	padding: 0px 9px 0px 9px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333;
	}

#subnav li.here a {
	padding-bottom: 3px;
	border-bottom: 3px solid #666;
	font-weight: bold;
	}

#subnav li.here a:hover {
	text-decoration: none;
	}

#subnav li.first {
	padding-left: 0px;
	}

#subnav li.right {
	border: 0px;
	}

#subnav a {
	background-color: #FFF;
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	}

#subnav a:hover {
	color: #999;
	text-decoration: underline;
	}
	
#subnav input {
	margin: 0px;
	padding: 0px;
	text-transform: none;
	font-weight: normal;
	}

.box {
	border: 1px solid #CCC;
	padding: 10px;
	margin-top: 20px;
	}

.box2 {
	border: 1px solid #666;
	padding: 10px;
	margin-top: 0px;
	}


#leftcol-settings {
	width: 427px;
	}

#rightcol-instructions {
	float: right;
	width: 220px;
	margin-left: 30px;
	}

#waiting-image {
	width: 240px;
	text-align: right;
	float: left;
        }

#waiting-text {
	margin-left: 250px;
	padding-top: 15px;
	}

.checkbox-left {
	float: left;
	width: 20px;
	}

.checkbox-right {
	margin-left: 25px;
	}

.blue-button {
	background-color: #A0BDEB;
	padding: 5px;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	margin-bottom: 5px;
	}

.orange-button {
	background-color: #ff9900;
	padding: 5px;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	margin-bottom: 5px;
	}

.orange {
	color: #ff9900;
	font-weight: bold;
	}
	
.blue-button a:link, .blue-button a:visited, .blue-button a:active {
	color: #FFF;
	text-decoration: underline;
	}
