.tundra .dijitTooltip {
    
    border: 1px dashed rgb(182, 221, 178); 
    background-color: #E6F0E6;
    margin: 2px;
    background: transparent;    
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.dijitTooltipBelow {
    
    padding: 0px;
}
.tundra .dijitTooltipContainer {
    border: 1px solid #E6F0E6;
    background-color: #ffffff;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding:2px;
}
.tundra .dijitTooltipConnector {
    
    border:0px;
    z-index: 2;
}
.tundra .dijitTooltipABRight .dijitTooltipConnector {
    left: auto !important;
    right: 3px;
}
.tundra .dijitTooltipBelow .dijitTooltipConnector {
    
    top: 0px;
    left: 3px;
    background:url("images/tooltipConnectorUp.png") no-repeat top left;
    width:16px;
    height:14px;
}
.dj_ie6 .tundra .dijitTooltipBelow .dijitTooltipConnector {
    background-image: url("images/tooltipConnectorUp.gif");
}
.tundra .dijitTooltipAbove .dijitTooltipConnector {
    
    bottom: 0px;
    left: 3px;
    background:url("images/tooltipConnectorDown.png") no-repeat top left;
    width:16px;
    height:14px;
}
.dj_ie6 .tundra .dijitTooltipAbove .dijitTooltipConnector {
    background-image: url("images/tooltipConnectorDown.gif");
}
.tundra .dijitTooltipLeft {
    padding-right: 13px;
}
.dj_ie6 .tundra .dijitTooltipLeft {
    padding-right: 15px;
}
.tundra .dijitTooltipLeft .dijitTooltipConnector {
    
    right: 0px;
    bottom: 7px;
    background:url("images/tooltipConnectorRight.png") no-repeat top left;
    width:16px;
    height:14px;
}
.dj_ie6 .tundra .dijitTooltipLeft .dijitTooltipConnector {
    background-image: url("images/tooltipConnectorRight.gif");
}
.tundra .dijitTooltipRight {
    padding-left: 13px;
}
.tundra .dijitTooltipRight .dijitTooltipConnector {
    
    left: 0px;
    bottom: 7px;
    background:url("images/tooltipConnectorLeft.png") no-repeat top left;
    width:16px;
    height:14px;
}
.dj_ie6 .tundra .dijitTooltipRight .dijitTooltipConnector {
    background-image: url("images/tooltipConnectorLeft.gif");
}
