/* Note there will also be a bunch of classes specific to the site for each activity they've configured. The class name is "civicase-audit-" plus the name they've given the activity with any non-alphanumeric characters removed. */

#civicase-audit {
}

div.leftpane {
	font-family: Arial, Helvetica, sans-serif;
/*	width: 30%;
	top: 5px;
*/
}

div.rightpane {
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #CCE3F1;
	border: #333333 solid 1px;
/*	float: right;
	width: 65%;
	position: absolute; 
	top: 5px;
	left: 35%;
*/
	padding: 2%;
}

#civicase-audit table {
	border: 0px;
}

#civicase-audit td.leftpane {
	width: 30%;
}

#civicase-audit td.rightpane {
	width: 65%;
}

.rightpaneheader {
}

.rightpanebody {
}

#civicase-audit label {
	font-weight: bold;
}

.activity {
}

#civicase-audit .selected {
	font-weight: bold;
}

#civicase-audit ul {
	font-size: smaller;
}

#civicase-audit li {
	list-style-type: disc;
/*	list-style-image: url(../../i/check.gif);*/
	color: #CC0000;
	clear: both;
	margin: 2px 0px 2px 0px;
}

/* The thinking is that this isn't something that should stand out too much because if the user is really just interested in the incomplete ones, then they would have chosen to only output incomplete ones in the first place. */
#civicase-audit li.completed {
	color: #336600;
}

/*
#civicase-audit li a {
	color:#000000;
}
*/

.auditmenu {
	padding-bottom: 20px;
}

.editlink {
	background: #EEEEEE;
	border: #333333  solid 1px;
	padding: 2px 3px 2px 3px;
	font-size: xx-small;
	text-transform: uppercase;
	width: 30px;
}

.editlink a {
	text-decoration: none;
	color: #0000CC;
	font-weight: bold;
}

.editlink a:hover {
	color: #CC0000;
}

.activity a {
	text-decoration: none;
}

.activity a:link, .activity a:visited {
} 

.activityheader {
	display: none;
	padding-bottom: 20px;
	font-size: smaller;
}

.activityheader span {
 	display: list-item;
	list-style-type: none;
	margin-left: 20px;
}

.activitybody {
	background: #FFFFFF;
	padding: 2px;
	display: none;
}

.activitytype {
}

.activitybody span {
	display: list-item;
	list-style-type: none;
	margin-left: 20px;
}

/* The right pane starts off hidden except for the first activity. */
#civicase-audit-header-1 {
	display: block;
}

#civicase-audit-body-1 {
	display: block;
}

.String {
}

.Date {
}

.File {
}

.Int {
}

.Memo {
}

.Boolean {
}
